[submodule "solidity/tokenbridge-contracts"]
	path = solidity/tokenbridge-contracts
	url = https://github.com/tvl-labs/tokenbridge-contracts
[submodule "solidity/khalani-core/lib/openzeppelin-contracts"]
	path = solidity/khalani-core/lib/openzeppelin-contracts
	url = https://github.com//OpenZeppelin/openzeppelin-contracts
[submodule "solidity/khalani-core/lib/openzeppelin-contracts-upgradeable"]
	path = solidity/khalani-core/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "solidity/khalani-core/lib/sgn-v2-contracts"]
	path = solidity/khalani-core/lib/sgn-v2-contracts
	url = https://github.com/celer-network/sgn-v2-contracts
[submodule "solidity/khalani-core/lib/hyperlane-monorepo"]
	path = solidity/khalani-core/lib/hyperlane-monorepo
	url = https://github.com/hyperlane-xyz/hyperlane-monorepo
